<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>内容首页</title>
<link rel="stylesheet" href="./css/style.css" type="text/css" />
</head>

<body>
<div class="wrap">
<table class="myform wrap">
  <tr>
    <th colspan="2" align="right">服务器相关信息</th>
  </tr>
   <foreach name="$info">
  <tr>
    <td width="24%" align="right">{$key}：</td>
    <td width="76%">{$val}</td>
  </tr>
   </foreach>
</table>
</div>
</body>
</html>