<form id="pagerForm" method="post" action="{url a='selectUser' do='search'}">
      <input type="hidden" name="pageNum" value="{$page.currentPage}" />
      <input type="hidden" name="numPerPage" value="{$page.numPerPage}" />
</form>

<div class="pageHeader">
    <form onsubmit="return dwzSearch(this,'dialog');" action="{url a='selectUser' do='search'}" method="post">
      <div class="searchBar">
        <table class="searchContent" style="margin:0 auto;">
            <tr>
                <td>用户名：</td>
                <td>
                   <input type="text" name="search_where[uname][like]" size="16" value="{$search_where.uname.like}" />
                </td>
                <td>用户组：</td>
                <td>
                    <select class="combox" name="search_where[group_id][eq]">
                     <option value="">请选择</option>
                     {:myselect($group,$search_where.group_id.eq)}
                    </select>
                </td>
                <td><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></td>
            </tr>
        </table>
      </div>
    </form>
</div>

<div class="pageContent">
        <div class="pageFormContent nowrap" layoutH="58">
        <foreach name='$list' id='vo'>
            <label style="white-space:nowrap;">
            <input type="checkbox" name="to_name" class="checkbox" value="{'to_name':'{$vo.uname}'}" /> {$vo.uname}
            </label>
        </foreach>
        </div>
        <div class="formBar">
            <ul>
                <li><div class="button"><div class="buttonContent"><button type="button" multLookup="to_name" warn="请选择用户">提交</button></div></div></li>
                <li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
            </ul>
        </div>
</div>