<div class="pageContent">
    <form method="post" action="{url a='update'}" class="pageForm required-validate" onsubmit="return save_ueditor(this);">
        <div class="pageFormContent nowrap" layoutH="58">
          <table cellspacing="1" class="myform">
            <tr>
              <td align="right" width="76">问题分类：</td>
              <td>
                <select class="combox" name="category_id">
                 {:myselect($category,$vo.category_id)}
                </select>
              </td>
            </tr>
            <tr>
              <td align="right">标 题：</td>
              <td><input type="text" name="title" size="68" value="{$vo.title}" class="required" /></td>
            </tr>
            <tr>
              <td align="right">内 容：</td>
              <td>
                <script type="text/plain" id="{$ueditor_id}" name="content" style="width:99%;" class="ueditor">{$vo.content}</script>
                <script type="text/javascript">
                    var {$ueditor_id} = new baidu.editor.ui.Editor();
                    {$ueditor_id}.render('{$ueditor_id}');
                </script> 
              </td>
            </tr>
          </table>
          <input type="hidden" name="id" value="{$vo.id}" />
        </div>
        <div class="formBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
                <li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
            </ul>
        </div>
    </form>
</div>